@charset "UTF-8";
/* глобальные селекторы */
:root {
  --information-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --background-second-color: #2f303a;
  --accent-color: #2196f3;
  --primary-black-color: #000000;
  --footer-white-color: rgba(255, 255, 255, 0.6);
  --button-accent-color: #188ce8;
  --our-team-background: #f5f4fa;
  --hero-background-color: #c4c4c4;
  --icon-color: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* обнуление стилизации ссылок */
.link {
  text-decoration: none;
}

/* обнуление стилей списков */
.list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* глобальные селекторы */
body {
  margin: 0;
  background-color: var(--primary-white-color);
  color: var(--information-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* общий контейнер с шириной 
и индивидуальные для подразделов  */
.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* падинги для секций */
.our-dignity,
.our-team,
.projects,
.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-dignity,
  .our-team,
  .projects,
  .our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-work {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-work {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* Нижняя рамка шапки */
.header {
  border-bottom: 1px solid #ececec;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* логотип */
.logo {
  display: flex;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--primary-black-color);
}

.logo--footer {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  text-align: center;
  font-size: 24px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .logo--footer {
    text-align: left;
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo__title {
  color: #2196f3;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  z-index: 99;
}

.menu-btn:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__icon {
  width: 44px;
  height: 44px;
}

.menu-btn__icon-open {
  opacity: 1;
  fill: var(--primary-black-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.menu-btn:hover .menu-btn__icon-open {
  fill: var(--accent-color);
}

.menu-btn__icon-close {
  opacity: 0;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.menu-btn:hover .menu-btn__icon-close {
  fill: var(--accent-color);
}

.menu-btn.is-active .menu-btn__icon-open {
  opacity: 0;
}

.menu-btn.is-active .menu-btn__icon-close {
  opacity: 1;
}

/* НАВИГАЦИЯ ХЕДЕР  */
.nav {
  display: flex;
}

@media screen and (max-width: 767px) {
  .nav {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__list {
    margin-left: 88px;
  }
}

@media screen and (max-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}

/* подчеркивание текущей страницы */
.nav__item {
  position: relative;
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link--underline-studio::after,
.nav__link--underline-portfolio::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .nav__link--underline-studio::after,
  .nav__link--underline-portfolio::after {
    bottom: -34px;
  }
}

.nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.nav__contacts {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .nav__contacts {
    display: flex;
    align-items: center;
    margin-left: 305px;
  }
}

.nav__contact-list {
  display: inline-flex;
  align-items: center;
  color: var(--information-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav__contact-list:hover, .nav__contact-list:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.nav__contact-item {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__contact-item:first-child {
    margin-bottom: 10px;
  }
}

.nav__contact-item + .nav__contact-item {
  margin-left: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__contact-item + .nav__contact-item {
    margin-left: 0;
  }
}

.nav__mail-icon,
.nav__tell-icon {
  margin-right: 10px;
  fill: var(--information-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.nav__contact-list:hover > .nav__mail-icon,
.nav__contact-list:hover > .nav__tell-icon,
.nav__contact-list:focus > .nav__mail-icon,
.nav__contact-list:focus > .nav__tell-icon {
  fill: var(--accent-color);
  cursor: pointer;
}

/* навигация футер */
.fopter__thumb {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .fopter__thumb {
    flex-direction: row;
  }
}

.footer__contacts {
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-second-color);
}

.footer__address {
  display: block;
  margin-bottom: 9px;
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 1.7;
}

.footer__address-text {
  margin-top: 0;
  margin-bottom: 0;
}

.footer__unit {
  display: inline-block;
  transition: color var(--transition-duration) var(--transition-timing-function);
  color: var(--footer-white-color);
  line-height: 1.7;
}

.footer__unit:hover,
.footer__unit:focus {
  color: var(--accent-color);
}

.footer__item + .footer__item {
  margin-top: 9px;
}

.footer__social-media {
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .footer__social-media {
    margin-right: 93px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.footer__sm-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  font-size: 14px;
  text-align: center;
}

.footer__item {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__item {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .footer__thumb-tablet {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__thumb-tablet {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__thumb-tablet {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
  }
}

.social-media__list {
  display: flex;
  padding-left: 0%;
  justify-content: space-between;
  width: 206px;
}

.social-media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  list-style-type: none;
  background: rgba(255, 255, 255, 0.1);
}

.social-media__link:hover, .social-media__link:focus {
  background-color: var(--button-accent-color);
  cursor: pointer;
}

.social-media__icon {
  fill: var(--primary-white-color);
}

/* Форма в футере */
.subscription-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    flex-direction: row;
  }
}

.subscription-form__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  /* margin-left: 93px; */
}

@media screen and (min-width: 1200px) {
  .subscription-form__box {
    margin-bottom: 0px;
  }
}

.subscription-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .subscription-form__title {
    text-align: left;
  }
}

.subscription-form__input {
  width: 100%;
  height: 50px;
  padding: 13px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: var(--primary-white-color);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 480px) {
  .subscription-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form__input {
    width: 358px;
  }
}

.subscription-form__button {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .subscription-form__button {
    margin-left: 12px;
    margin-right: 0;
  }
}

.subscription-form__button-icom {
  margin-left: 10px;
}

.button-template {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  border-color: transparent;
  border-radius: 4px;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button-template:hover, .button-template:focus {
  background-color: var(--button-accent-color);
}

/* герой */
.hero {
  height: 400px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/bg-hero_sm.png);
  background-color: var(--hero-background-color);
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  border: 1px solid var(--primary-black-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/bg-hero_sm@2x.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/bg-hero_md.png);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/bg-hero_md@2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/bg-hero_lg.png);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/bg-hero_lg@2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
  padding: 8px 30px;
}

/* достоинства */
.our-dignity__list {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .our-dignity__list {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .our-dignity__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.our-dignity__unit {
  flex-basis: calc((100% - 120px) / 4);
}

@media screen and (max-width: 767px) {
  .our-dignity__unit {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-dignity__unit {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

.our-dignity__icon-fon {
  width: 100%;
  display: flex;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  padding: 25px 100px;
  background-color: var(--our-team-background);
}

@media screen and (max-width: 767px) {
  .our-dignity__icon-fon {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .our-dignity__icon-fon {
    width: 100%;
  }
}

.our-dignity__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin: auto; */
}

@media screen and (min-width: 1200px) {
  .our-dignity__unit + .our-dignity__unit {
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .our-dignity__unit:not(:last-child) {
    margin-bottom: 30px;
  }
}

.our-dignity__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .our-dignity__title {
    text-align: center;
  }
}

.our-dignity__text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.7;
  text-align: left;
}

/* Чем мы занимаемся */
@media screen and (max-width: 1199px) {
  .our-work {
    display: none;
  }
}

.our-work__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  text-align: center;
}

.our-work__list {
  display: flex;
}

.our-work__item {
  position: relative;
  display: block;
  /* width: calc((100%-60px) / 3); */
  margin-right: 30px;
}

.our-work__image {
  display: block;
}

.our-work__thumb {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 3.6px;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-work__txt {
  margin: 0;
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Наша команда */
.our-team {
  background-color: var(--our-team-background);
}

@media screen and (min-width: 768px) and (max-width: 1px) {
  .our-team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.our-team__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__list {
    flex-wrap: wrap;
    flex-direction: row;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__list {
    flex-direction: row;
  }
}

.our-team__item {
  margin-bottom: 30px;
  margin-right: 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

.our-team__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__item:last-child {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__item:last-child {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.our-team__title {
  font-size: 28px;
  line-height: 1.17px;
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .our-team__title {
    font-size: 36px;
    line-height: 1.16px;
    margin-bottom: 70px;
  }
}

.our-team__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: var(--title-text-color);
}

.our-team__position {
  margin-top: 0px;
  margin-bottom: 0;
  margin-bottom: 16px;
  font-size: 16px;
}

.our-team__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team__cotacts {
  display: flex;
  width: 206px;
  justify-content: space-between;
  padding-left: 0;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .our-team__cotacts {
    margin-left: 74px;
    margin-right: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__cotacts {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.our-team__unit:not(:last-child) {
  margin-right: 10px;
  list-style-type: none;
}

.our-team__icon {
  transition: fill var(--transition-duration) var(--transition-timing-function);
  fill: var(--icon-color);
}

.our-team__unit:hover .our-team__icon,
.our-team__unit:focus .our-team__icon {
  fill: var(--primary-white-color);
}

.our-team__unit:focus > .our-team__icon,
.our-team__unit:focus > .our-team__icon {
  fill: var(--primary-white-color);
}

.our-team__unit {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.our-team__unit:hover, .our-team__unit:focus {
  background-color: var(--button-accent-color);
  cursor: pointer;
}

.our-team__cotacts > li:last-child {
  margin-right: 0;
}

/* Наша клиенты */
.our-clients__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-size: 28px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .our-clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.our-clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .our-clients__list {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
  }
}

.our-clients__item {
  width: calc((100% - 60px) / 2);
  margin: 15px;
  height: 92px;
}

@media screen and (min-width: 768px) and (max-width: 1900px) {
  .our-clients__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .our-clients__item {
    width: 170px;
    height: 92px;
    margin: 0;
  }
}

.our-clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border var(--transition-duration) var(--transition-timing-function);
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}

.our-clients__link:hover, .our-clients__link:focus {
  border: 1px solid var(--accent-color);
}

.our-clients__link:not(:last-child) {
  margin-right: 30px;
}

.our-clients__icon {
  transition: fill var(--transition-duration) var(--transition-timing-function);
  fill: var(--icon-color);
}

.our-clients__link:hover > .our-clients__icon,
.our-clients__link:focus .our-clients__icon {
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  transition: opacity 1000ms linear;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* Модальное окно */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 610px;
  padding: 40px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 480px) {
  .modal {
    width: 100%;
    height: 581px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.close__icon {
  fill: var(--primary-black-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal__close:hover .close__icon,
.modal__close:focus .close__icon {
  fill: var(--accent-color);
}

.modal-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: var(--title-text-color);
  line-height: 1.5;
}

@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.form__part {
  position: relative;
}

.form__field {
  display: block;
  margin-bottom: 10px;
}

.form__field:focus-within .modal-form-icon {
  fill: var(--accent-color);
}

.form__field.textarea {
  margin-bottom: 0px;
}

.form__field-name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  color: var(--information-text-color);
}

.form__field-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

@media screen and (min-width: 1200px) {
  .form__field-title {
    width: 448px;
  }
}

.form__field-title:hover, .form__field-title:focus {
  border-color: var(--accent-color);
}

.form__modal-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: var(--title-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.form__field-title:hover ~ .form__modal-icon {
  fill: var(--accent-color);
}

.form__field:focus-within .form__modal-icon {
  fill: var(--accent-color);
}

.form__field-title-comment {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

@media screen and (min-width: 1200px) {
  .form__field-title-comment {
    width: 448px;
  }
}

.form__field-title-comment:hover, .form__field-title-comment:focus {
  border-color: var(--accent-color);
}

.form__field-title-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field--textarea {
  margin-bottom: 0px;
}

.form__checkbox {
  display: flex;
}

.form__lable-checkbox {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: var(--information-text-color);
}

@media screen and (max-width: 767px) {
  .form__checkbox-title {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form__checkbox-title {
    font-size: 12px;
    line-height: 1.16;
  }
}

.form__checkbox-field {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function), background-origin var(--transition-duration) var(--transition-timing-function);
}

.form__checkbox-field:checked + .form__custom-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-origin: border-box;
}

.form__checkbox-vector {
  fill: var(--primary-white-color);
}

.form__checkbox-link {
  color: var(--accent-color);
  letter-spacing: 0.03em;
  text-decoration: underline;
}

.form__modal-button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-white-color);
  transform: scale(0);
  visibility: hidden;
  pointer-events: none;
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.mobile-overlay.is-open {
  transform: scale(1);
  visibility: visible;
  pointer-events: initial;
}

.mobile-menu {
  max-width: 480px;
  padding: 48px 40px;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__list {
  margin-bottom: 302px;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobile-nav__link:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.mobile-menu__contacts-item {
  margin-bottom: 32px;
}

.mobile-menu__contacts-tel {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .mobile-menu__contacts-tel {
    font-size: 34px;
  }
}

.mobile-menu__contacts-tel:hover, .mobile-menu__contacts-tel:focus {
  cursor: pointer;
}

.mobile-menu__contacts-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--information-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.mobile-menu__contacts-mail:hover, .mobile-menu__contacts-mail:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.socials {
  display: flex;
}

.socials__item:not(:last-child) {
  margin-right: 20px;
}

.socials__link {
  font-size: 12px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .socials__link {
    font-size: 18px;
  }
}

.portfolio-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-buttons {
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-buttons {
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 50px;
    margin-bottom: 0;
  }
}

.portfolio-buttons__item:nth-child(-n + 3) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-buttons__item:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-buttons__item:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio-buttons__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-buttons__unit {
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
  border: 0 transparent;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--our-team-background);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.portfolio-buttons__unit:hover, .portfolio-buttons__unit:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.portfolio-projects {
  display: flex;
  flex-direction: column;
}

.portfolio-projects:last-child {
  margin-bottom: 0;
}

.portfolio-projects__item:not(:last-child) {
  margin-bottom: 30px;
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  .portfolio-projects__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-projects__item {
    width: calc((100% - 30px) / 2);
  }
  .portfolio-projects__item:nth-child(2n) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-projects {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-projects {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .portfolio-projects__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .portfolio-projects__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.portfolio-projects__item:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-projects__link {
  display: block;
}

.portfolio-projects__link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-projects__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-projects__image {
  display: block;
}

.portfolio-projects__hover {
  position: absolute;
  transform: translatey(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-projects__item:hover .portfolio-projects__hover,
.portfolio-projects__link:focus .portfolio-projects__hover {
  transform: translatey(0);
}

.portfolio-projects__hover-text {
  margin: 0;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-white-color);
}

@media screen and (max-width: 380px) {
  .portfolio-projects__hover-text {
    font-size: 14px;
  }
}

.portfolio-projects__info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-projects__info-title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-projects__info-text {
  margin-bottom: 0;
  margin-top: 0;
  color: var(--information-text-color);
  font-size: 16px;
  line-height: 1.9;
}
/*# sourceMappingURL=main.css.map */