@import "./utils/variables";
@import "./base/resets";
@import "./base/general-settings";

@import "./components/header";
@import "./components/logo";
@import "./components/menu-btn";
@import "./components/nav";
@import "./components/footer";
@import "./components/social-media";
@import "./components/subscription-form";
@import "./components/button";
@import "./components/hero";
@import "./components/our-dignity";
@import "./components/our-work";
@import "./components/our-team";
@import "./components/our-clients";
@import "./utils/backdrop-hiding";
@import "./components/modal";
@import "./components/form";
@import "./components/mobile-menu";

@import "./components/portfolio-buttons";
@import "./components/portfolio-projects";