/* навигация футер */

.fopter__thumb {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
   

@media screen and (min-width: 1200px) {
    flex-direction: row;
}
}

.footer__contacts {
margin-bottom: 60px;
    // margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 0;
    margin-left: 0;
   
    }
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-second-color);
}


.footer__address {
    display: block;
    margin-bottom: 9px;

    color: var(--primary-white-color);
    font-style: normal;
    line-height: 1.7;
}

.footer__address-text {
    margin-top: 0;
    margin-bottom: 0;
}

.footer__unit {
    display: inline-block;
    transition: color var(--transition-duration) var(--transition-timing-function);

    color: var(--footer-white-color);
    line-height: 1.7;
}

.footer__unit:hover,
.footer__unit:focus {
    color: var(--accent-color);
}

.footer__item+.footer__item {
    margin-top: 9px;
}

.footer__social-media {

margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
        margin-bottom: 0;
        margin-left: 0;
    }
}

.footer__sm-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
    font-size: 14px;

    text-align: center;
}

.footer__item {
    text-align: center;

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

@media screen and (max-width: 767px) {
    

.footer__thumb-tablet {
    margin-right: auto;
    margin-left: auto;
}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
.footer__thumb-tablet {
    display: flex;
    justify-content: center;
    width: 100%;
}
}
@media screen and (min-width: 1200px) {
    .footer__thumb-tablet {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: baseline;
    }
}