/* герой */

.hero {
    // max-width: 768px;
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../image/hero/bg-hero_sm.png);
       

        @media screen and (min-device-pixel-ratio: 2),
        screen and (-moz-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {

        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../image/hero/bg-hero_sm@2x.png);
        
        
        }

        @media screen and (min-width: 768px) {

            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../image/hero/bg-hero_md.png);
        }
        @media screen and (min-device-pixel-ratio: 2),
        screen and (-moz-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../image/hero/bg-hero_md@2x.png);
        }
@media screen and (min-width: 1200px) {

    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../image/hero/bg-hero_lg.png);
}

@media screen and (min-device-pixel-ratio: 2),
screen and (-moz-min-device-pixel-ratio: 2),
screen and (-o-min-device-pixel-ratio: 2/1),
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {

    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../image/hero/bg-hero_lg@2x.png);
}



    background-color: var(--hero-background-color);
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
    border: 1px solid var(--primary-black-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;

    // @media screen and (max-width: 767px) {
    //     max-width: 767px;
    //     height: 400px;
    //     background-size: cover;
    //     padding-top: 118px;
    //     padding-bottom: 118px;
    // }

    // @media screen and (min-width: 768px) and (max-width: 1199px) {
    //     max-width: 1199px;
    // }

@media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
}
}

.hero__title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--primary-white-color);

    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-transform: uppercase;


    @media screen and (min-width: 1200px){
        font-size: 44px;
        line-height: 1.4;
    }
}


.hero__button {
    margin-left: auto;
    margin-right: auto;
    padding: 8px 30px;
}