.menu-btn {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 44px;
    height: 44px;

    background-color: transparent;
    border: transparent;
    outline: transparent;
    z-index: 99;

    &:hover {
        cursor: pointer;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }

    &__icon {
        width: 44px;
        height: 44px;

        &-open {
            opacity: 1;
            fill: var(--primary-black-color);

            transition: fill var(--transition-duration) var(--transition-timing-function);

            .menu-btn:hover & {
                fill: var(--accent-color);
                
            }
        }

        &-close {
            opacity: 0;

            transition: fill var(--transition-duration) var(--transition-timing-function);

            .menu-btn:hover & {
                fill: var(--accent-color);
            }
        }
    }
}

.menu-btn.is-active .menu-btn__icon-open {
opacity: 0;
}

.menu-btn.is-active .menu-btn__icon-close {
   opacity: 1;
}

