/* Модальное окно */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 610px;
    padding: 40px;
    background-color: var(--primary-white-color);
    // margin-top: 50px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (max-width: 480px) {
        width: 100%;
        height: 581px;
    } 

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    background-color: var(--primary-white-color);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
}

.close__icon {
    fill: var(--primary-black-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);


.modal__close:hover &,
.modal__close:focus & {
    fill: var(--accent-color);
}

}