/* НАВИГАЦИЯ ХЕДЕР  */

.nav {
    display: flex;
}

.nav__list {
    display: flex;
    align-items: center;
    margin-left: 93px;
}

/* подчеркивание текущей страницы */
.nav__item {
    position: relative;

    & + &{
        margin-left: 50px;
    }
}

.nav__link--underline-studio::after,
.nav__link--underline-portfolio::after {
    content: "";

    position: absolute;
    bottom: -32px;
    left: 0px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}



.nav__link {
    color: var(--title-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
    transition: color var(--transition-duration) var(--transition-timing-function);


&:hover,
&:focus {
    color: var(--accent-color);
    cursor: pointer;
}
}

.nav__contacts {
    display: flex;
    align-items: center;
    margin-left: 305px;
}



.nav__contact-list {
    display: inline-flex;
    align-items: center;

    color: var(--information-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
        cursor: pointer;
    }
}

.nav__contact-item {
    display: flex;
    align-items: center;

    & + & {
        margin-left: 30px;
    } 
}

.nav__mail-icon,
.nav__tell-icon {
    margin-right: 10px;
    fill: var(--information-text-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}


.nav__contact-list:hover>.nav__mail-icon,
.nav__contact-list:hover>.nav__tell-icon,
.nav__contact-list:focus>.nav__mail-icon,
.nav__contact-list:focus>.nav__tell-icon {
    fill: var(--accent-color);
    cursor: pointer;
}