/* НАВИГАЦИЯ ХЕДЕР  */

.nav {
    display: flex;
   

    @media screen and (max-width: 767px) {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        // background-color: black;
    }
}

.nav__list {
    display: flex;
    align-items: center;
    margin-left: 93px;

@media screen and (max-width: 767px) {
    display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 88px;
}
@media screen and (max-width: 1200px) {
    margin-left: 93px;
}
}

/* подчеркивание текущей страницы */
.nav__item {
    position: relative;

    & + &{
        margin-left: 50px;
    }
}

.nav__link--underline-studio::after,
.nav__link--underline-portfolio::after {
    content: "";

    position: absolute;
    bottom: -32px;
    left: 0px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);

    @media screen and (min-width: 768px) and (max-width: 1200px) {
        bottom: -34px;
    }
}



.nav__link {
    color: var(--title-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
    transition: color var(--transition-duration) var(--transition-timing-function);


&:hover,
&:focus {
    color: var(--accent-color);
    cursor: pointer;
}
}

.nav__contacts {

        display: none;
    

    @media screen and (min-width: 768px) and (max-width: 1199px)
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
    }
@media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    
    margin-left: 305px;
}
}



.nav__contact-list {
    display: inline-flex;
    align-items: center;

    color: var(--information-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition-duration) var(--transition-timing-function);

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 12px;
        margin-bottom: 10px;
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
        cursor: pointer;
    }
}

.nav__contact-item {
    display: flex;
    align-items: center;


&:first-child {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
    }
}
    & + & {
        margin-left: 30px;


        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-left: 0;
        
        }
    } 
    
}

.nav__mail-icon,
.nav__tell-icon {
    margin-right: 10px;
    fill: var(--information-text-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}


.nav__contact-list:hover>.nav__mail-icon,
.nav__contact-list:hover>.nav__tell-icon,
.nav__contact-list:focus>.nav__mail-icon,
.nav__contact-list:focus>.nav__tell-icon {
    fill: var(--accent-color);
    cursor: pointer;
}