/* Наша команда */

.our-team {
    background-color: var(--our-team-background);
    // width: 480px;

    @media screen and (min-width: 768px) and (max-width: 1px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.our-team__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-wrap: wrap;
        flex-direction: row;
        margin: -15px;
      
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
}

.our-team__item {
margin-bottom: 30px;
margin-right: 0px;


    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background-color: var(--primary-white-color);

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc((100% - 60px) / 2);
        margin: 15px;
    }

   
}

.our-team__item:last-child {
    margin-bottom: 0;


@media screen and (min-width: 768px) and (max-width: 1199px) {

            margin-bottom: 15px;
        }
    
@media screen and (min-width: 1200px) {
    margin-right: 0;
    margin-bottom: 30px;
}
}
// .our-team__item:nth-child(odd) {
//     @media screen and (min-width: 768px) and (max-width: 1199px) {
    
//         margin-right: 30px;
//     }
// }
// .our-team__item:nth-child(-n + 2) {
// @media screen and (min-width: 768px) and (max-width: 1199px) {

//     margin-bottom: 30px;
// }
// }

.our-team__title {
font-size: 28px;
line-height: 1.17px;

    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);
    text-align: center;

  

    @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16px;
    margin-bottom: 70px;
    }
}

.our-team__name {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--title-text-color);
}

.our-team__position {
    margin-top: 0px;
    margin-bottom: 0;
    margin-bottom: 16px;
    font-size: 16px;
}

.our-team__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.our-team__cotacts {
    display: flex;
 
    // display: inline-flex;
    width: 206px;
    justify-content: space-between;
    padding-left: 0;

    @media screen and (min-width: 768px) and (max-width: 1200px) {
    
    margin-left: 74px;
    margin-right: 74px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 32px;
        margin-right: 32px;
    }
}

.our-team__unit:not(:last-child) {
    margin-right: 10px;
    list-style-type: none;
}

.our-team__icon {
    transition: fill var(--transition-duration) var(--transition-timing-function);
    fill: var(--icon-color);

    .our-team__unit:hover &,
    .our-team__unit:focus & {
        fill: var(--primary-white-color);
    }

    .our-team__unit:focus> &,
    .our-team__unit:focus> & {
        fill: var(--primary-white-color);
    }
}

.our-team__unit {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
    width: 44px;
    height: 44px;
    border-radius: 50%;


&:hover,
&:focus {
    background-color: var(--button-accent-color);
    cursor: pointer;
}

}


.our-team__cotacts>li:last-child {
    margin-right: 0;
}

