/* обнуление стилизации ссылок */
.link {
    text-decoration: none;
}

/* обнуление стилей списков */
.list {
    padding-left: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}